<div class="panel panel-default">
	<div class="panel-heading">
		INGETIS
	</div>
	<div class="panel-body">
		{{ annonce.textePage | raw }}
		{{ render(controller('IngetisDivIndexBundle:Default:listDiv')) }}
	</div>
</div>