
    <div class="block">
        <div class="posttitle">News</div>
        <div class="panel-body">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://ingetis.com/images/articles/envie-de-s-expatrier-au-canada-73.jpg" alt="first photo">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Trouve ton entreprise avec INGETIS</h4>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://ingetis.com/images/articles/-75.jpg" alt="second photo">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Fête de l'alternance</h4>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://ingetis.com/images/articles/des-evaluations-360-qui-tournent-mal-chez-yahoo-67.jpg" alt="first photo">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Des évaluations 360° qui tournent mal chez Yahoo</h4>

                </div>
            </div>
        </div>
    </div>
