<div class="panel panel-default">
	<div class="panel-body">
		<div class="boutons-cand-off">
			<img src="http://itis-formation.com/images/site/boutton_entreprise.jpg" height="230" width="230" class="img-responsive" />
		</div>
	</div>
</div>