
    <div class="block">
        <div class="posttitle">Nos Offres d'Emploi en Alternance</div>
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">DEVELLOPPEUR SQL/XML BILINGUE ANGLAIS</h4>
                    <p>Description de l'entreprise: Un des premiers groupes de services financiers de la zone euroe. Parce qu'il n'y a pas de succès collectif sans re...</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">Fête de l'alternance</h4>
                    <p>Groupe familial Français qui regroupe différentes enseignes (Loisirs & Création, Rue de la Fête, loisirs </p>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">Des évaluations 360° qui tournent mal chez Yahoo</h4>

                </div>
            </div>
        </div>
    </div>
