<div id="MenuPages" class="panel panel-default">
	<div class="panel-body">          
		<ul class="nav nav-pills nav-stacked">
			{% for categorie in categories %}          
				<li>	
					<h2><a href="">{{ categorie.titreCategorie }}</a></h2>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>