
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="bouton_index">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://itis-formation.com/images/site/meet.png" alt="first photo">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Nous Rencontrer</h4>

                </div>
            </div>
            </div>
        </div>
         <div class="col-md-6">
            <div class="media">
                <div class="bouton_index">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://itis-formation.com/images/site/plus.png" alt="second photo">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">+ d'INGETIS</h4>
                    <p>-Ateliers CARE<br/>
                    -Logement étudiant<br/>
                    -Financement</p>
                </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="media">
                <div class="bouton_index">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://itis-formation.com/images/site/home.png" alt="third photo">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Admissions</h4>
                    <p>Mode d'emploi : Cliquez ici</p>
                </div>
            </div>
            </div>
        </div>   
         <div class="col-md-6">
            <div class="media">
                <div class="bouton_index">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://itis-formation.com/images/site/contrat.png" alt="4th photo">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Contrat Pro.</h4>
                    <p>Tout savoir sur le contrat de professionnalisation : Cliquez ici</p>
                </div>
            </div>
        </div>
        </div>
    
</div>
