<div class="block">
    <div class="posttitle">INGETIS</div>
    <div class="panel-body">
        
            <div class="media-body">
                <p>Soyez Ambitieux</p>


                        <p>Fort d’une dizaine d’années d’expérience dans la formation informatique, l’école Ingetis est devenue en 2013 un centre de préparation pour le titre de niveau I d’Expert en Système Informatique.</p>
                        <p>Intégrer Ingetis, c’est d’abord et avant tout faire le choix d’une formation à forte plus-value, professionnalisante, une formation tournée vers les métiers de l’ingénierie informatique, dans un secteur porteur et très dynamique.</p>
                        <p>En savoir plus...</p>
                        <p>&nbsp;</p>
            </div>           
    </div>
    <div class="panel-body">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://www.ingetis.com/images/media/nous-rencontrer-10.jpg" alt="first photo">
                 
        </div>
        {{ render ( controller ('IngetisDivIndexBundle:Default:DivIndex')) }}
    </div> 
</div>
